*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    background: rgb(28, 22, 22);
    color: white;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    
}

a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    width: 100%;
    margin: auto;
    

}

/* nav */

.nav-main{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 35px 30px ;
    
    background-color: rgb(0, 0, 0);
    
}
 .logo_bici{
     width: 70px;
     margin-left: 30px;
     border-radius: 50px;
     
 }

 .nav-main ul{
     display: flex;
     
     
 }

 .nav-main ul li{
     padding: 10px;
 }

 .nav-main ul li a:hover{
     color: cornflowerblue;
     border-bottom:  2px solid  cornflowerblue;

 }
 
 .nav-main ul.nav-menu{
      flex: 1;
     margin-left: 20px;

 }

 .nav-main ul.search{
     margin-right: 20px;
 }

 .bicis{
     width:80%;
     margin:auto;
    
     
     

 }

 .lista-bicis{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height:100px ;
   background-color: rgb(43, 42, 42);
   width: 100%;
   margin: 10px;
  
   
   
   
   
 }
 
 

 
 
 .lista-bicis li img {
     width: 150px;
     margin-top: 20px;
     
     
    
     


 }
 
 .lista-bicis li img:hover {
   border-bottom: 2px solid cornflowerblue;

}

.bikee{
    width: 100%;
    height: 500px;
    opacity: 80%;
    margin-top: 50px;
    background: url("../img/fondo-bici.jpg") ;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: 20px;
    
   
    
}

.bikee p{
    color: rgb(255, 255, 255);
    
}

.boton{
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.restauracion{
    background: rgb(71, 64, 64);
    display: grid;
    grid-template-columns: 50% 50%;

}

.restauracion h2 {
    padding: 50px 100px 20px;
    font-size: 40px;
    white-space: pre-line;
    
    
}

.informacion p{
    margin-left: 100px;
    white-space: pre-line;
}

.restauracion img{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.final{
    display: grid;
    grid-template-columns: 50% 50% 50%;
    width: 100%;
    background: black ;
    height: 170px;
    
}

.redes {
    font-size: 20px ;
    margin-left: 50px;
    margin-top: 20px;
    
}
.linkss{
    display: flex;
    margin-top: 20px;
    justify-content: left;
    align-items: center;
    

}

.linkss a{
    margin: 0 10px;
   
}

.legal{
     display:grid;
     grid-template-columns: 50% ;
     white-space: pre-line;
     margin-left: 200px;
   
   
    
}

.legal h2{
    margin-top: 10px;
}


/* Accesorios */

.Venta{
    display: grid;
    grid-template-rows: 20%;
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;
    
    
}





.Venta .envio{
    color: cornflowerblue ;
    

}

.Venta .hora{
    color: cornflowerblue;
    padding-top: 20px;
}

.Venta .entrega{
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.valor input{
    display: grid;
    grid-template-rows: 50% ;
    color: black;
}




form input{
    display: grid;
    grid-template-rows: 50%;
    margin: 5px;
}


.pago h2{
    margin-top: 20px

}

.accesorios_nav{
   display: grid;
   grid-template-columns: 25% 25% 25%;
   background: cornflowerblue;
   padding-top: 20px;
   padding-left: 500px;
   padding-bottom: 20px;

}



.imagenes{
    margin-bottom: 300px;
    width: 80%;
    margin: auto;
    
    
}

.listas{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 550px;
    margin-top: 20px;
    
}

.listas li img{
   width: 100px;
   padding-bottom: 100px;
   padding-top: 120px;
   

}
/*Casco*/
.casco{
   
    transition: all ease-in-out 300ms;


}

.casco:hover{
    transform: scale(1.2);
}
 .casco h2 {
    margin-right:70px;
    margin-top: 1px;
    font-size: 29px;
}

.casco .texto1{
    margin-left:55px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
    
}
.casco .texto2{
    margin-bottom: 20px;
    margin-right: 60px;
}

.casco .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.casco img{
   margin-left: 20px;
   margin-top: 1px;
}
.casco hr{
    
    margin-right: 200px;
    margin-bottom: 20px;
}


/* Candado */
.cadena{
    transition: all ease-in-out 300ms;

}
.cadena:hover{
    transform: scale(1.2);
}

.cadena h2{
    font-size: 29px;
    margin-top: 20px;
}

.cadena .texto3{
    margin-left:55px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
    

}

.cadena .texto4{
    margin-bottom: 20px;
    margin-right: 60px;

}

.cadena .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
     border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;



}
.cadena{
    margin-top: 20px;
}
.cadena img{
    margin-left: 20px;
}

.cadena hr{
    margin-right: 200px;
}


/*luces*/
.luces{
    transition: all ease-in-out 300ms;
}
.luces:hover{
    transform: scale(1.2);
}
.luces h2{
    margin-left: 10px;
    font-size: 29px;
}

.luces .texto5{
    margin-left:55px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;

}

.luces .texto6{
    margin-bottom: 20px;
    margin-right: 20px;

}

.luces .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.luces img{
    margin-left: 25px;
}

.luces hr{
    margin-right: 200px;
    margin-bottom: 20px;
   
}

/*Silla*/

.silla-bebe{
    transition: all ease-in-out 300ms;
}

.silla-bebe:hover{
    transform: scale(1.2);
}

.silla-bebe h2{
    font-size: 29px;

    margin-left: 15px;

}

.silla-bebe .texto7{
    margin-left:50px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
}
.silla-bebe .texto8{
    margin-bottom: 20px;
   
}

.silla-bebe .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}
.silla-bebe img{
    margin-left: 20px;
    
}

.silla-bebe hr{
    margin-right: 200px;
    margin-bottom: 20px;
}
/* timbre*/
.timbre{
    transition: all ease-in-out 300ms;
}
.timbre:hover{
    transform: scale(1.2);
}
.timbre h2 {
    font-size: 29px;
    margin-top: 20px;

}

.timbre .texto9{
    margin-left:80px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;

}

.timbre .texto10{
    margin-bottom: 20px;
    margin-left: 20px;

}

.timbre .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 40px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.timbre img{
    margin-left: 50px;
}

.timbre hr{
    margin-right: 150px;
}
/*velocimetro*/
.velocimetro{
    transition: all ease-in-out 300ms;
}

.velocimetro:hover{
    transform: scale(1.2);
}



.velocimetro h2{
    margin-left: 20px;
    font-size: 29px;
    margin-top: 20px;
}

.velocimetro .texto11{
    margin-left:55px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;


}

.velocimetro .texto12{
    margin-bottom: 20px;
    margin-right: 10px;

}

.velocimetro .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 20px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.velocimetro img{
    margin-left: 30px;
}

.velocimetro hr{
    margin-right: 200px;
}

/*luz */
.luz{
    transition: all ease-in-out 300ms;
}

.luz:hover{
    transform: scale(1.2);
}


.luz h2{
    margin-left: 30px;
    font-size: 29px;
    margin-top: 20px;

}

.luz .texto13{
    margin-left: 60px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;

}

.luz .texto14{
    margin-bottom: 20px;
    margin-right: 10px;

}

.luz .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;
}

.luz img{
    margin-left: 30px;
}

.luz hr{
    margin-right: 200px;
}

/*casco-mujer*/
.casco-mujer{
    transition: all ease-in-out 300ms;
}

.casco-mujer:hover{
    transform: scale(1.2);
}
.casco-mujer h2{
    margin-left: 25px;
    font-size: 29px;
    margin-top: 20px;

}

.casco-mujer .texto15{
    margin-left: 90px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
}

.casco-mujer .texto16{
   margin-bottom: 20px;
   margin-left: 30px;

}

.casco-mujer .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 50px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.casco-mujer img{
    margin-left: 50px;
}

.casco-mujer hr{
    margin-right: 150px;
}

/*espejo*/
.espejo{
    transition: all ease-in-out 300ms;
}
.espejo:hover{
    transform: scale(1.1);
}
.espejo h2{
    margin-left: 50px;
    font-size: 29px;
   

}

.espejo .texto17{
    margin-left: 65px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
}

.espejo .texto18{
    margin-bottom: 20px;
    margin-right: 50px;

}

.espejo .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 20px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;


}

.espejo hr{
    margin-right: 200px;
    margin-bottom: 10px;
}

.espejo img{
    margin-left: 20px;
}
/*soporte-celu*/
.soporte-celu{
    transition: all ease-in-out 300ms;
}

.soporte-celu:hover{
    transform: scale(1.1);
}
.soporte-celu h2{
    margin-left: 40px;
    font-size: 29px;
    

}

.soporte-celu .texto19{
    margin-left: 120px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;

}

.soporte-celu .texto20{
    margin-bottom: 20px;
    margin-left: 50px;

}

.soporte-celu .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 80px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.soporte-celu img{
    margin-left: 80px;
}

.soporte-celu hr{
    margin-right: 80px;
    margin-bottom: 20px;
}
/* accesorios-footer*/

.accesorios-footer{
    margin-top: 50px;
}

.grid_general{
    display: grid;
    grid-template-columns: 5% 90%;
}

/* repuestos */

.imagenes-2{
    margin-bottom: 300px;
    width: 80%;
    margin: auto;
    
}


.lista-2{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 550px
    
    
}

.lista-2 li img{
    width: 100px;
    padding-bottom: 100px;
    padding-top: 120px;
}

.grid_general-2{
    display: grid;
    grid-template-columns: 5% 90%;
    
   

}


/*asiento*/

.asiento h2{
    margin-left: 20px;
    font-size: 29px;
}

.asiento hr{
margin-right: 250px;
margin-bottom: 20px;
}

.asiento .precio-1{
  margin-left: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: cornflowerblue ;
  font-size: 20px;
}

.asiento p{
    margin-bottom: 20px;
}

.asiento .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 1px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.asiento{
    transition: all ease-in-out 300ms;
}

.asiento:hover{
    transform: scale(1.1);
}

/*cuadro*/

.cuadro h2{
    font-size: 29px;
    margin-top: 20px;

}

.cuadro hr{
    margin-top: 20px;
    margin-right: 200px;
    margin-bottom: 29px;
}

.cuadro .precio-2{
    margin-left: 50px;
    font-size: 20px;
    color: cornflowerblue ;
}

.cuadro p{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.cuadro .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.cuadro img{
    margin-left: 50px;
}

.cuadro{
    transition: all ease-in-out 300ms;
}
   
.cuadro:hover{
    transform: scale(1.1);
}

/*cable*/

.cable h2{
    font-size: 29px;
}

.cable hr{
    margin-right: 225px;
    margin-bottom: 29px;
}

.cable .precio-3{
    margin-left: 50px;
    font-size: 20px;
    color: cornflowerblue;
}

.cable p{
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.cable .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.cable img{
    margin-left: 20px;
}

.cable{
    transition: all ease-in-out 300ms;
   
}

.cable:hover{
    transform: scale(1.1);
}

/*manija*/

.manija h2{
    font-size: 29px;
}

.manija hr{
    margin-right: 220px;
    margin-bottom: 29px;
}

.manija .precio-4{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: cornflowerblue;
}

.manija p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.manija .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
   margin-left: 5px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;
}

.manija{
    transition: all ease-in-out 300ms;
    
}

.manija:hover{
    transform: scale(1.1);
}

/*pedales*/
.pedales h2{
    font-size: 29px;
    margin-left: 20px;
}

.pedales hr{
    margin-right: 250px;
    margin-bottom: 29px;
}

.pedales .precio-5{
    margin-left: 35px;
    margin-top: 20px;
    font-size: 20px;
    color: cornflowerblue;
}

.pedales p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.pedales .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.pedales{
    transition: all ease-in-out 300ms;

}

.pedales:hover{
    transform:scale(1.1)
}

/*puños*/

.puños h2{
    font-size: 29px;
    margin-left: 50px;
}

.puños hr{
    margin-right: 200px;
    margin-bottom: 29px;
}
.puños .precio-6{
    font-size: 20px;
    margin-left: 55px;
    margin-top: 20px;
    color: cornflowerblue;
}
.puños p{
    margin-top: 20px;
    margin-left: 55px;
    margin-bottom: 20px;
}

.puños .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    border: 0;
    margin-right: 200px;
    margin-left: 20px;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

    
}



.puños{
    transition: all ease-in-out 300ms;
    
}


.puños:hover{
    transform: scale(1.1);
}

/*maza*/
.maza h2{
    font-size: 29px;

}

.maza hr{
    margin-right: 180px;
    margin-bottom: 29px;
}

.maza .precio-7{
    font-size: 20px;
    margin-left: 70px;
    color: cornflowerblue;
    margin-top: 20px;
   
}

.maza p{
    margin-bottom: 20px;
    margin-left: 50px;
}

.maza .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    border: 0;
    margin-right: 200px;
    margin-left: 30px;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;


}

.maza img{
    margin-left: 50px;
}

.maza{
    transition: all ease-in-out 300ms;

}

.maza:hover{
    transform: scale(1.1);
}


/*cubierta*/

.cubiertas h2{
    font-size: 29px;
}
.cubiertas hr{
    margin-right: 200px;
    margin-bottom: 29px;
}
.cubiertas .precio-8{
  font-size: 20px;
  margin-left: 70px;
  margin-top: 10px;
  color: cornflowerblue;


}

.cubiertas p{
    margin-left: 30px;
    margin-bottom: 20px;
}

.cubiertas .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    border: 0;
    margin-right: 200px;
    margin-left: 25px;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;


}
.cubiertas img{
    margin-left: 50px;
}

.cubiertas{
    transition: all ease-in-out 300ms;

}

.cubiertas:hover{
    transform: scale(1.1);
}

/*frenos*/
.frenos h2{
    font-size: 29px;
    margin-left: 15px;

}

.frenos hr{
    margin-right: 260px;
    margin-bottom: 29px;
}

.frenos .precio-9{
    margin-left: 32px;
    font-size: 20px;
    color: cornflowerblue;
    margin-top: 10px;
}

.frenos p{
    margin-right: 25px;
    margin-bottom: 20px;
}

.frenos .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    border: 0;
    margin-right: 200px;
   
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;



}

.frenos{
    transition: all ease-in-out 300ms;

}

.frenos:hover{
    transform: scale(1.1);
}


/*pedales*/

.pedales-2 h2{
    font-size: 29px;

}
.pedales-2 hr{
    margin-right: 250px;
    margin-bottom: 29px;
}

.pedales-2 .precio-10{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
    color: cornflowerblue;
}

.pedales-2 p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.pedales-2 .comprar{
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    border: 0;
    margin-right: 200px;
   
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.pedales-2{
    transition: all ease-in-out 300ms;

}

.pedales-2:hover{
    transform: scale(1.1);
}
/*repuestos-footer */

.repuestos-footer{
    margin-top: 50px;
}

/* ¿Como realizar tu compra? */
.Comprar_1 h2{
    margin-top: 20px;
    margin-left: 20px;
}
.Comprar_1 img{
    margin-left: 200px;
    margin-top: 50px;
    
    
}

.Comprar_1 p{
    margin-top: 50px;
    margin-left: 20px;
    white-space: pre-line;
}



/*Restauracion */
.explicacion{
    display: grid;
    grid-template-columns: 50% 50%;
}

.foto img{
    margin-top: 100px;
    margin-left: 200px;
}

.informaciona {
    margin-top: 200px;
}
.informaciona h2{
    font-size: 50px;
}
.informaciona p{
    margin-top: 20px;
    white-space: pre-line;
}

.contactos h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: cornflowerblue;

}

.grid_final{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    font-size: 100px;
}

.grid_final{
    margin-left: 650px;
    margin-top: 200px;
}

.contactos hr{
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 60px;
}


/* Final*/

.Bicicletas-footer{
    margin-top: 100px ;
}

@media (max-width: 700px){
    .nav-main{
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 35px 2px ;
        
        background-color: rgb(0, 0, 0);
        
    }
     .logo_bici{
         width: 20px;
         margin-left: 2px;
         border-radius: 50px;
         
     }
     .lista-bicis li img {
        width: 50px;
        margin-top: 20px;
     }

     .lista-bicis{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height:100px ;
        background-color: rgb(43, 42, 42);
        width: 100%;
        margin-right: 50px;
        margin: 10px;
     }

     .bikee{
        width: 100%;
        height: 500px;
        opacity: 80%;
        margin-top: 20px;
        background: url("../img/fondo-bici.jpg") ;
       
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        font-size: 20px;
        
        
       
        
    }


    .bikee p{
        color: rgb(255, 255, 255);
        font-size: 10px;
        
    }
    
    .boton{
        cursor: pointer;
        font-size: 10px;
        margin: 10px;
        border: 0;
        font-weight: bold;
        padding: 10px 20px;
        background: rgb(67, 63, 63);
        font-size: 15px;
        border: solid 1px white;
        
    }

    .restauracion{
        background: rgb(71, 64, 64);
        display: grid;
        grid-template-columns: 50% 50%;
    
    }
    
    .restauracion h2 {
        padding: 50px 10px 10px;
        font-size: 20px;
        white-space: pre-line;
        
        
    }
    
    .informacion p{
        margin-left: 10px;
        white-space: pre-line;
        font-size: 10px;
        margin-bottom: 20px;
    }
    
    .restauracion img{
        width: 180px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .final{
        display: grid;
        grid-template-columns: 50% 50% 50%;
        width: 100%;
        background: black ;
        height: 170px;
        
    }
    
    .redes {
        font-size: 10px ;
        margin-left: 10px;
        margin-top: 20px;
        
    }
    .linkss{
        display: flex;
        margin-top: 20px;
        justify-content: left;
        align-items: center;
        
    
    }
    
    .linkss a{
        margin: 0 10px;
       
    }
    
    .legal{
         font-size: 10px;
        
         margin-left: 20px;
         margin-bottom: 20px;
       
       
        
    }
    
    .legal h2{
        margin-top: 10px;
    }
  
    .accesorios_nav{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        background: cornflowerblue;
        padding-top: 20px;
        padding-left: 5px;
        padding-bottom: 20px;
        font-size: 10px;
     
     }
     
     .Venta{
      font-size: 10px;
      margin-left: 5px;



        
        
    }
    
    .listas li hr{
        opacity: 1%;
    }
    .listas{
        grid-template-columns: 50%;
        font-size: 10px;
        margin-left: 10px;
        margin-top: 300px;
        
        
        
    }

    .listas li img{
        width: 70px;
    }

    .listas p{
        font-size: 10px;
        margin-right: 100px;
        
        
        
        
        
       
    }
    
    .listas h2{
       
        font-size: 15px;
        margin-left: 30px;
        
    }

    .casco h2{
        margin-left: 50px;
    }

    .luces h2{
        margin-left: 40px;
    }

    .silla-bebe h2{
        margin-left: 40px;
    }

    .timbre h2{
       margin-left: 70px;
       
    }

    .velocimetro h2{
        margin-left: 45px;
    }

    .luz h2{
        margin-left: 50px;
    }
  
    .casco-mujer h2 {
        margin-left: 50px;
    }
     
    .espejo h2{
        margin-left: 65px;
    }

    .listas .comprar{
        
        font-size: 10px;
        
    }

   .lista-2{
    margin-left: 2px;
    display: grid;
    grid-template-columns: 50%;
    margin-top: 400px;
   }

   .lista-2 h2{
    font-size: 20px;
   }

   .asiento{
    margin-left: 20px;
   }

   .asiento h2{
    margin-left: 30px;

   }

   .cuadro h2{
    margin-left: 20px;
   }
   
   .cable{
    margin-left: 20px;
   }

   .cable h2{
    margin-left: 20px;
   }

   .manija{
    margin-left: 20px;
   }

   .pedales{
    margin-left: 20px;
   }

   .maza h2{
    margin-left: 50px;
   }

   .cubiertas h2{
    margin-left: 50px;
   }

   .frenos{
    margin-left: 35px;
   }

   .frenos h2{
    margin-left: 30px;
   }

   .pedales-2{
    margin-left: 29px;
   }

   .pedales-2 h2{
    margin-left: 20px;
   }

   .puños img{
    margin-left: 20px;
   }
    
   .venta-bici li  {
    margin-left: 2px;
    
   
  
}

.Comprar_1 h2{
    font-size: 20px;

}

.Comprar_1 img{
    width: 350px;
    margin-left: 15px;
}

.Comprar_1 p{
    font-size: 15px;
}

.explicacion .foto img{
    width: 150px;
    margin-left: 2px;
}

.explicacion .informaciona{
    margin-top: 100px;
}

.explicacion .informaciona h2{
    font-size: 20px;
    margin-top: 5px;
   
}
.explicacion .informaciona p{
    font-size: 10px;
    margin-left: 2px;
}

.contactos h2{
    font-size: 20px;
}

.grid_final{
    margin-left: 100px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    font-size: 50px;
    margin-top: 100px;
}

.Bicicletas-footer{
  margin-top: 150px;
}

}