*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 5000px;
}

body{
    background: rgb(28, 22, 22);
    color: white;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    
}

a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    width: 100%;
    margin: auto;
    

}

/* nav */

.nav-main{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 35px 30px ;
    
    background-color: rgb(0, 0, 0);
    
}
 .logo_bici{
     width: 70px;
     margin-left: 30px;
     border-radius: 50px;
     
 }

 .nav-main ul{
     display: flex;
     
     
 }

 .nav-main ul li{
     padding: 10px;
 }

 .nav-main ul li a:hover{
     color: cornflowerblue;
     border-bottom:  2px solid  cornflowerblue;

 }
 
 .nav-main ul.nav-menu{
      flex: 1;
     margin-left: 20px;

 }

 .nav-main ul.search{
     margin-right: 20px;
 }

 .bicis{
     width:80%;
     margin:auto;
    
     
     

 }

 .lista-bicis{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height:100px ;
   background-color: rgb(43, 42, 42);
   width: 100%;
   margin: 10px;
  
   
   
   
   
 }
 
 

 
 
 .lista-bicis li img {
     width: 150px;
     margin-top: 20px;
     
     
    
     


 }
 
 .lista-bicis li img:hover {
   border-bottom: 2px solid cornflowerblue;

}

.bikee{
    width: 100%;
    height: 500px;
    opacity: 80%;
    margin-top: 50px;
    background: url("../img/fondo-bici.jpg") ;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: 20px;
    
   
    
}

.bikee p{
    color: rgb(255, 255, 255);
    
}

.boton{
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.restauracion{
    background: rgb(71, 64, 64);
    display: grid;
    grid-template-columns: 50% 50%;

}

.restauracion h2 {
    padding: 50px 100px 20px;
    font-size: 40px;
    white-space: pre-line;
    
    
}

.informacion p{
    margin-left: 100px;
    white-space: pre-line;
}

.restauracion img{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.final{
    display: grid;
    grid-template-columns: 50% 50% 50%;
    width: 100%;
    background: black ;
    height: 170px;
    
}

.redes {
    font-size: 20px ;
    margin-left: 50px;
    margin-top: 20px;
    
}
.linkss{
    display: flex;
    margin-top: 20px;
    justify-content: left;
    align-items: center;
    

}

.linkss a{
    margin: 0 10px;
   
}

.legal{
     display:grid;
     grid-template-columns: 50% ;
     white-space: pre-line;
     margin-left: 200px;
   
   
    
}

.legal h2{
    margin-top: 10px;
}


/* Accesorios */

.Venta{
    display: grid;
    grid-template-rows: 20%;
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;
    
    
}



.Venta .envio{
    color: cornflowerblue ;
    

}

.Venta .hora{
    color: cornflowerblue;
    padding-top: 20px;
}

.Venta .entrega{
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.valor input{
    display: grid;
    grid-template-rows: 50% ;
    color: black;
}




form input{
    display: grid;
    grid-template-rows: 50%;
    margin: 5px;
}




.accesorios_nav{
   display: grid;
   grid-template-columns: 25% 25% 25%;
   background: cornflowerblue;
   padding-top: 20px;
   padding-left: 500px;
   padding-bottom: 20px;

}



.imagenes{
    margin-bottom: 500px;
    width: 80%;
    margin: auto;
    
}

.listas{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 550px;
    margin-top: 100px;
    
}

.listas li img{
   width: 100px;
   padding-bottom: 100px;
   padding-top: 120px;
   

}
/*Casco*/

 .casco h2 {
    margin-right:70px;
    font-size: 29px;
}

.casco .texto1{
    margin-left:55px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
    
}
.casco .texto2{
    margin-bottom: 20px;
    margin-right: 60px;
}

.casco .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.casco img{
   margin-left: 30px;
}

/* Candado */


.cadena h2{
    font-size: 29px;
    margin-top: 20px;
}

.cadena .texto3{
    margin-left:55px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
    

}

.cadena .texto4{
    margin-bottom: 20px;
    margin-right: 60px;

}

.cadena .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
     border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}


/*luces*/

.luces h2{
    margin-left: 15px;
    font-size: 29px;
}

.luces .texto5{
    margin-left:55px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;

}

.luces .texto6{
    margin-bottom: 20px;
    margin-right: 20px;

}

.luces .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.luces img{
    margin-left: 25px;
}

/*Silla*/

.silla-bebe h2{
    font-size: 29px;
    margin-top: 20px;
    margin-left: 15px;

}

.silla-bebe .texto7{
    margin-left:50px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
}
.silla-bebe .texto8{
    margin-bottom: 20px;
   
}

.silla-bebe .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

/* timbre*/

.timbre h2 {
    font-size: 29px;
    margin-top: 20px;

}

.timbre .texto9{
    margin-left:80px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;

}

.timbre .texto10{
    margin-bottom: 20px;
    margin-left: 20px;

}

.timbre .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 50px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.timbre img{
    margin-left: 50px;
}

/*velocimetro*/

.velocimetro h2{
    margin-left: 15px;
    font-size: 29px;
    margin-top: 20px;
}

.velocimetro .texto11{
    margin-left:55px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;


}

.velocimetro .texto12{
    margin-bottom: 20px;
    margin-right: 10px;

}

.velocimetro .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 20px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.velocimetro img{
    margin-left: 20px;
}

/*luz */

.luz h2{
    margin-left: 25px;
    font-size: 29px;
    margin-top: 20px;

}

.luz .texto13{
    margin-left: 55px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;

}

.luz .texto14{
    margin-bottom: 20px;
    margin-right: 10px;

}

.luz .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;
}

.luz img{
    margin-left: 20px;
}

/*casco-mujer*/

.casco-mujer h2{
    margin-left: 25px;
    font-size: 29px;
    margin-top: 20px;

}

.casco-mujer .texto15{
    margin-left: 90px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
}

.casco-mujer .texto16{
   margin-bottom: 20px;
   margin-left: 30px;

}

.casco-mujer .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 50px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.casco-mujer img{
    margin-left: 50px;
}

/*espejo*/

.espejo h2{
    margin-left: 40px;
    font-size: 29px;
    margin-top: 20px;

}

.espejo .texto17{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;
}

.espejo .texto18{
    margin-bottom: 20px;
    margin-right: 50px;

}

.espejo .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 20px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;


}

/*soporte-celu*/

.soporte-celu h2{
    margin-left: 40px;
    font-size: 29px;
    margin-top: 20px;

}

.soporte-celu .texto19{
    margin-left: 120px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornflowerblue;

}

.soporte-celu .texto20{
    margin-bottom: 20px;
    margin-left: 50px;

}

.soporte-celu .comprar{
    cursor: pointer;
    font-size: 20px;
    margin: 15px;
    margin-left: 80px;
    border: 0;
    font-weight: bold;
    padding: 10px 50px;
    background: rgb(67, 63, 63);
    font-size: 15px;
    border: solid 1px white;

}

.soporte-celu img{
    margin-left: 80px;
}

/* accesorios-footer*/

.accesorios-footer{
    margin-top: 50px;
}